.nav {
  background: rgba(255, 255, 255, 0.02);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(0px);
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(8, 11, 17, 0.509);
  z-index: -1;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
