.nav {
  background: rgba(255, 255, 255, 0.02);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(0px);
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(8, 11, 17, 0.509);
  z-index: -1;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  background: #000;
}

/* 
.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent -10%,
    #000 20%,
    #000 70%,
    transparent 150%
  );

  position: relative;
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: calc((50s / var(--quantity)) * (var(--position) - 1));
}

.slider .list .item.rtl {
  left: 100%;
  animation-name: autoRunRTL;
}

@keyframes autoRunRTL {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -8);
  }
}

.slider .list .item.ltr {
  left: calc(var(--width) * -1);
  animation-name: autoRunLTR;
}

@keyframes autoRunLTR {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}


